<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employees</title>

    <link rel="stylesheet" href="webjars/bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/noty/3.1.4/demo/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="webjars/datatables/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="webjars/noty/3.1.4/lib/noty.css"/>

    <!--    http://stackoverflow.com/a/24070373/548473-->
    <script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script type="text/javascript" src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.5.3/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="webjars/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="webjars/datatables/1.10.21/js/dataTables.bootstrap4.min.js" defer></script>
    <script type="text/javascript" src="webjars/noty/3.1.4/lib/noty.min.js" defer></script>
</head>
<body>
<script type="text/javascript" src="js/employees.common.js"></script>
<script type="text/javascript" src="js/employees.datatable.js"></script>
<script type="text/javascript" src="js/employees.history.js"></script>
<script type="text/javascript" src="js/ws.js"></script>
<div class="jumbotron pt-4">
    <div class="container">
        <button class="btn btn-primary" onclick="add()">
            <span class="fa fa-plus"></span>
            Добавить
        </button>
        <br>
        <table class="table table-striped" id="datatable">
            <thead>
            <tr>
                <th><input name="name" class="header" type="text" placeholder="Search Name"></th>
                <th><input name="lastname" class="header" type="text" placeholder="Search Lastname"></th>
                <th><input name="email" class="header" type="text" placeholder="Search Email"></th>
                <th><input name="phoneNumber" class="header" type="text" placeholder="Search PhoneNumber"></th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="editRow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle"></h4>
                <button type="button" class="close" data-dismiss="modal" onclick="closeNoty()">&times;</button>
            </div>
            <div class="modal-body">
                <form id="detailsForm">
                    <input type="hidden" id="id" name="id">

                    <div class="form-group">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Name">
                    </div>

                    <div class="form-group">
                        <label for="lastname" class="col-form-label">Lastname</label>
                        <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Lastname">
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" id="email" name="email" class="form-control" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber" class="col-form-label">Phone Number</label>
                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control"
                               placeholder="Phone Number">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeNoty()">
                    <span class="fa fa-close"></span>
                    Закрыть
                </button>
                <button type="button" class="btn btn-primary" onclick="save()">
                    <span class="fa fa-check"></span>
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-lg btn-success my-4" href="swagger-ui.html" target="_blank">Swagger REST Api Documentation</a>
</body>
</html>