<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <base href="${pageContext.request.contextPath}"/>
    <link rel="stylesheet" href="webjars/datatables/1.10.21/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js" defer></script>
    <script type="text/javascript" src="webjars/bootstrap/4.5.3/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="webjars/datatables/1.10.21/js/jquery.dataTables.min.js" defer></script>
    <script type="text/javascript" src="webjars/datatables/1.10.21/js/dataTables.bootstrap4.min.js" defer></script>
</head>
<body>
<script type="text/javascript" src="js/employees.datatable.js" defer></script>
<section>
    <h2>Employees</h2>
    <br><br>
    <table id="datatable" class="employee" style="width:100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <!--        <%&#45;&#45;-->
        <!--        <c:forEach items="${employees}" var="employee">&#45;&#45;%>-->
        <!--            <%&#45;&#45;-->
        <!--            <jsp:useBean id="employee" type="com.arsenev.employees.model.Employee"/>-->
        <!--            &#45;&#45;%>-->
        <!--            <%&#45;&#45;-->
        <!--            <tr>&#45;&#45;%>-->
        <!--                <%&#45;&#45;-->
        <!--                <td>${employee.name}</td>-->
        <!--                &#45;&#45;%>-->
        <!--                <%&#45;&#45;-->
        <!--                <td>${employee.lastname}</td>-->
        <!--                &#45;&#45;%>-->
        <!--                <%&#45;&#45;-->
        <!--                <td>${employee.email}</td>-->
        <!--                &#45;&#45;%>-->
        <!--                <%&#45;&#45;-->
        <!--                <td>${employee.phoneNumber}</td>-->
        <!--                &#45;&#45;%>-->
        <!--                <%&#45;&#45;-->
        <!--                <td><a href="employees?action=update&id=${employee.id}">Update</a></td>-->
        <!--                &#45;&#45;%>-->
        <!--                <%&#45;&#45;-->
        <!--                <td><a href="employees?action=delete&id=${employee.id}">Delete</a></td>-->
        <!--                &#45;&#45;%>-->
        <!--                <%&#45;&#45;-->
        <!--            </tr>-->
        <!--            &#45;&#45;%>-->
        <!--            <%&#45;&#45;-->
        <!--        </c:forEach>-->
        <!--        &#45;&#45;%>-->
    </table>
</section>
</body>
</html>